<script setup>
import { reactive } from 'vue'
import {
    mdiAlertDecagram,
    mdiAlertCircleOutline,
    mdiAlertCircleCheckOutline,
    mdiAlertOutline,
} from "@mdi/js";

const props = defineProps({
    type: {
        type: String,
        default: "info",
    },
    textColor: {
        type: String,
        default: "black",
    },
    message: {
        type: String,
        default: "",
    },
    iconSize: {
        type: [String, Number],
        default: 24,
    },
    alertOpen: reactive({
        type: Boolean,
        default: false,
    }),

});

const status = reactive({
    open: false,
    message: props.message,
    textColor: props.textColor,
    alertOpen: props.alertOpen,
    iconSize: props.iconSize
})

const alertTypes = {
    default: { icon: mdiAlertOutline },
    info: { icon: mdiAlertOutline },
    success: { icon: mdiAlertCircleCheckOutline },
    warning: { icon: mdiAlertOutline },
    error: { icon: mdiAlertDecagram },
};

const alertIcon = computed(() => {
    return props.type in alertTypes
        ? alertTypes[props.type]["icon"]
        : alertTypes["default"]["icon"];
});

const showAlert = (type, message, textColor, iconSize) => {
    status.type = type ? type : props.type
    status.message = message ? message : props.message
    status.open = true;
    status.textColor = textColor ? textColor : props.textColor
    status.iconSize = iconSize ? iconSize : props.iconSize
}

const closeAlert = () => {
    status.open = false;
}

defineExpose({
    showAlert,
    closeAlert
})

</script>

<template>
    <div :class="`alert alert-${status.type} text-${status.textColor} px-6 py-4 border-0 rounded relative mt-4`"
        v-if="status.open">
        <BaseIcon v-if="alertIcon"
            :path="alertIcon"
            :size="status.iconSize" />
        <span>{{ status.message }}</span>
        <button
            class="absolute bg-transparent text-2xl font-semibold leading-none right-0 top-0 mt-4 mr-6 outline-none focus:outline-none"
            v-on:click="closeAlert()">
            <span>×</span>
        </button>
    </div>
</template>
