<script setup>
import AsideMenuItem from '@/components/AsideMenuItem.vue'
import AsideMenuList from '@/components/AsideMenuList.vue'
import BaseIcon from '@/components/BaseIcon.vue'
import { mdiClose, mdiLogout } from '@mdi/js'
import { computed } from 'vue'
import logo from '../assets/logo.svg'

defineProps({
  menu: {
    type: Array,
    required: true
  }
})

const emit = defineEmits(['menu-click', 'aside-lg-close-click'])

const logoutItem = computed(() => ({
  label: 'Logout',
  icon: mdiLogout,
  color: 'info',
  isLogout: true,
  href: '/logout',
}))

const menuClick = (event, item) => {
  emit('menu-click', event, item)
}

const asideLgCloseClick = (event) => {
  emit('aside-lg-close-click', event)
}
</script>

<template>
  <aside id="aside"
    class="lg:py-2 lg:pl-2 w-60 fixed flex z-40 top-0 h-screen transition-position overflow-hidden">
    <div class="aside lg:rounded-2xl flex-1 flex flex-col overflow-hidden dark:bg-slate-900">
      <div class="aside-brand flex flex-row h-14 items-center justify-between dark:bg-slate-900 p-10">
        <div class="items-center flex-1 lg:items-center lg:pl-6 xl:items-center xl:pl-0">
          <b class="font-black">
            <img :src=logo
              class="w-20 h-20 mr-auto ml-auto" />
          </b>
        </div>
        <button class="hidden lg:inline-block xl:hidden p-3"
          @click.prevent="asideLgCloseClick">
          <BaseIcon :path="mdiClose" />
        </button>
      </div>
      <div class="flex-1 overflow-y-auto overflow-x-hidden aside-scrollbars dark:aside-scrollbars-[slate]">
        <AsideMenuList :menu="menu"
          @menu-click="menuClick" />
      </div>

      <ul>
        <AsideMenuItem :item="logoutItem"
          @menu-click="menuClick" />
      </ul>
  </div>
</aside></template>
