
<script lang="ts" setup>
import { apiClient } from '@/client/apiClient';
import type { Header, Item, ServerOptions } from "vue3-easy-data-table";

const headers: Header[] = [
    { text: "ID", value: "id" },
    { text: "Serial Number", value: "serial_number" },
    { text: "Model", value: "model" },
];

const items = ref<Item[]>([]);

const loading = ref(false);
const serverItemsLength = ref(0);
const serverOptions = ref<ServerOptions>({
    page: 1,
    rowsPerPage: 25
});

const loadFromServer = async () => {
    loading.value = true;
    const response = await apiClient.cells.cellsList(serverOptions.value.page, serverOptions.value.rowsPerPage);
    items.value = response.results!;
    console.log(response.results)
    serverItemsLength.value = response.count!;
    loading.value = false;
};

// initial load
loadFromServer();

watch(serverOptions, (value) => { loadFromServer(); }, { deep: true });
</script>

<template>
    <EasyDataTable v-model:server-options="serverOptions"
        :server-items-length="serverItemsLength"
        :loading="loading"
        :headers="headers"
        :items="items" />
</template>