<script setup>
import BaseLevel from '@/components/BaseLevel.vue';
import { containerMaxW } from '@/config.ts';

const year = new Date().getFullYear()
</script>

<template>
  <footer class="py-2 px-6"
    :class="containerMaxW">
    <BaseLevel>
      <div class="text-center md:text-left">
        <slot />
      </div>
      <div class="md:py-2">

      </div>
    </BaseLevel>
  </footer>
</template>
