<script setup>
import CellsTable from '@/components/CellsTable.vue'
import SectionMain from '@/components/SectionMain.vue'
import SectionTitleLineWithButton from '@/components/SectionTitleLineWithButton.vue'
import LayoutAuthenticated from '@/layouts/LayoutAuthenticated.vue'
import { mdiTableBorder } from '@mdi/js'
</script>

<template>
  <LayoutAuthenticated>
    <SectionMain>
      <SectionTitleLineWithButton :icon="mdiTableBorder"
        title="Tables"
        main />
      <CellsTable></CellsTable>
    </SectionMain>
  </LayoutAuthenticated>
</template>
