<script setup lang="ts">
import SectionMain from '@/components/SectionMain.vue'
import SectionTitleLineWithButton from '@/components/SectionTitleLineWithButton.vue'
// import TableSampleClients from '@/components/TableSampleClients.vue'
import LayoutAuthenticated from '@/layouts/LayoutAuthenticated.vue'
import { useMainStore } from '@/stores/main'
import {
  mdiAccountMultiple,
  mdiBatteryOutline,
  mdiCarBattery,
  mdiFactory
} from '@mdi/js'

const mainStore = useMainStore()
// const clientBarItems = computed(() => mainStore.clients.slice(0, 4))
// const transactionBarItems = computed(() => mainStore.history)

import { apiClient } from '@/client/apiClient'

console.log("API CALL HERE")
apiClient.stats.statsRetrieve().then((r) => {
  console.log(r)
})
// console.log('RESULTS', apiClient.battery.batteryCellsList)

const stats = ref({
  'cells': 0,
  'models': 0,
  'manufacturers': 0
})

const systemStats = async () => {
  const response = await apiClient.stats.statsRetrieve();
  stats.value = response
};

// initial load
systemStats();

// watch(serverOptions, (value) => { loadFromServer(); }, { deep: true });

</script>

<template>
  <LayoutAuthenticated>
    <SectionMain>

      <SectionTitleLineWithButton :icon="mdiAccountMultiple"
        title="Dashboard" />

      <div class="grid grid-cols-1 gap-6 lg:grid-cols-3 mb-6">
        <CardBoxWidget color="text-emerald-500"
          :icon="mdiBatteryOutline"
          :number="stats.cells"
          label="Cells" />
        <CardBoxWidget color="text-blue-500"
          :icon="mdiCarBattery"
          :number="stats.models"
          label="Packs" />
        <CardBoxWidget color="text-red-500"
          :icon="mdiFactory"
          :number="stats.manufacturers"
          label="Manufacturers" />
      </div>

    </SectionMain>
  </LayoutAuthenticated>
</template>
