<script setup>
import Alert from '@/components/Alert.vue'
import BaseButton from '@/components/BaseButton.vue'
import BaseButtons from '@/components/BaseButtons.vue'
import CardBox from '@/components/CardBox.vue'
import FormControl from '@/components/FormControl.vue'
import FormField from '@/components/FormField.vue'
import SectionFullScreen from '@/components/SectionFullScreen.vue'
import LayoutGuest from '@/layouts/LayoutGuest.vue'
import { mdiAccount, mdiAsterisk } from '@mdi/js'
import { reactive, watch } from 'vue'
import { useRouter } from 'vue-router'
import { AUTH_ERROR, AUTH_SUCCESS, useAuthStore } from '../stores/auth'

const alertBox = ref(null)

const form = reactive({
  username: '',
  password: '',
  remember: true,
  alertOpen: false
})

watch(form, (value) => {
  // console.log(value)
})

const router = useRouter()

const submit = async (submitEvent) => {
  alertBox.value.closeAlert()
  if (!submitEvent.target.elements.username.value || !submitEvent.target.elements.password.value) {
    if (!submitEvent.target.elements.username.value) {
      alertBox.value.showAlert("error", "Please enter a username", "white")
      return
    }
    if (!submitEvent.target.elements.password.value) {
      alertBox.value.showAlert("error", "Please enter a password")
      return
    }
  }

  const authStore = useAuthStore()
  try {
    const loginResult = await authStore.login(
      submitEvent.target.elements.username.value,
      submitEvent.target.elements.password.value
    )

    // console.log("loginview isloggedin")
    // console.log("isLoggedIn", await isLoggedIn())

    if (loginResult == AUTH_ERROR) {
      alertBox.value.showAlert("error", "Login failed")
    } else if (loginResult == AUTH_SUCCESS) {
      alertBox.value.showAlert("success", "Login successful")
      setTimeout(() => router.push("/"), 500);
    }
  } catch (error) {
    console.log(error)
    alertBox.value.showAlert("error", error)
  }
}

</script>

<template>
  <LayoutGuest>

    <SectionFullScreen v-slot="{ cardClass }"
      bg="purplePink">
      <CardBox :class="cardClass"
        is-form
        @submit.prevent="submit">

        <FormField label="Username"
          help="Please enter your login"
          ref="username">
          <FormControl v-model="form.username"
            :icon="mdiAccount"
            name="username"
            autocomplete="username" />
        </FormField>

        <FormField label="Password"
          help="Please enter your password">
          <FormControl v-model="form.password"
            :icon="mdiAsterisk"
            type="password"
            name="password"
            autocomplete="current-password"
            ref="password" />
        </FormField>

        <div class="form-control">
          <label class="cursor-pointer">
            <input v-model="form.remember"
              type="checkbox"
              checked="checked"
              name="remember"
              class="checkbox checkbox-info mr-5" />
            <span class="label-text">Remember me</span>
          </label>
        </div>

        <template #footer>
          <BaseButtons>
            <BaseButton type="submit"
              color="info"
              label="Login"
              fullWidth="true" />
          </BaseButtons>
          <Alert ref="alertBox"
            type="info"></Alert>
        </template>

      </CardBox>
    </SectionFullScreen>

  </LayoutGuest>
</template>
